*.Rhistory
*.gpx
novale*
*.jpg
*.png
*.jpeg
*.txt
rsconnect*
*.csv
posts/*
!posts/*
posts/*/*
!posts/*/*
posts/*/*/*
!posts/*/*/post.html

posts/*
!posts/*
posts/*/*
!posts/*/*
posts/*/*/*
!posts/*/*/*.html
posts/*/*/map.html
posts/*/*/plots.html

posts/icones*
posts/pendents*